body
{
    background-color: black;
}

.top
{
    color: #ffffff;
    margin: 0 5% 0 5%;
    width: 90%;
}
.picture1
{
    background-image: url("img/back-img-03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 750px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.text1
{
    color: #ffffff;
    width: 100%;
    font-weight: bolder;
    font-family: helvetica;
    font-size: 50pt;
    line-height: 1.2;
    padding: 500px 0px 0px 20px;
}

.text2
{
    width: 100%;
    height: 250px;
    background-color: #323232;
    line-height: 1.5;
    font-size: 18pt;
    margin-top: -50px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: tahoma;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.p
{
    color: #ededed;
    margin-left: 30px;
    font-weight: lighter;
}
.a
{
    color: #323232;
}

.basis
{
    width: 90%;
    margin: 0 5% 0 5%;
    color: #ededed;
    font-size: 20pt;
    font-family: helvetica;
    line-height: 1.75;
}

.list
{
    width: 90%;
    margin: 0 5% 0 5%;
    height: auto;
    color: #ededed;
    font-size: 20pt;
    font-family: helvetica;
    line-height: 1.75;
    padding-left: 10px;
}

ul
{
    margin-left: -25px;
    margin-top: -20px;
}

li
{
    color:#ffffff;
}
.oscar
{
    width: 96%;
    margin: 0 2% 0 2%;
    background-color:#323232;
    border-radius: 30px;
}

img
{
    padding: 0 47% 0 47%;
    width: 6%;
    padding-top: 10px;
}

.osc1
{
    font-family: helvetica;
    font-weight: bold;
    font-size: 25pt;
    color: #ffffff;
    text-align: center;
}

.osc2
{
    font-family: Tahoma;
    font-size: 25pt;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
}